{% extends "mainapp/main.html" %}
{% load static %}
{% block title %}
   About Us
{% endblock title %}

{% block content %}
<div class="container">
    <div class="content-section">
      <h1 class="mb-4">About Us - IshopPC</h1>
      <p>Welcome to IshopPC! We are your one-stop shop for all computer-related products, offering a wide range of products from top brands to meet all your computing needs. Learn more about our history, mission, and team below.</p>
      
      <h2 class="mt-5 mb-3">Our History</h2>
      <p>Founded in [Year], IshopPC has grown from a small local store to a leading online retailer of computers and related products. Our commitment to quality and customer service has helped us expand our reach and build a loyal customer base.</p>
      
      <h2 class="mt-5 mb-3">Our Mission</h2>
      <p>At IshopPC, our mission is to provide high-quality computer products at competitive prices, backed by exceptional customer service. We strive to make technology accessible and affordable for everyone.</p>
      
      <h2 class="mt-5 mb-3">Our Products</h2>
      <p>We offer a wide range of products to cater to all your computing needs, including:</p>
      <ul>
        <li>Laptops and Desktops</li>
        <li>Computer Accessories</li>
        <li>Components and Hardware</li>
        <li>Software and Applications</li>
        <li>Networking Equipment</li>
      </ul>
      
      <h2 class="mt-5 mb-3">Our Team</h2>
      <p>Meet the dedicated professionals who are the driving force behind IshopPC:</p>
      <ul>
        <li><strong>Tahir </strong> - CEO</li>
        <li><strong>Muzaffar</strong> - CTO</li>
        <li><strong>Maryam</strong> - CFO</li>
        <li><strong>Michael Brown</strong> - COO</li>
      </ul>
      
      <h2 class="mt-5 mb-3">Contact Us</h2>
      <p>If you have any questions or would like to learn more about us, please contact us at:</p>
      <ul>
        <li>Email:  onlineishope@gmail.com</li>
        <li>Phone: +49 3782 2986 836</li>
        <li>Address: Germany main market</li>
      </ul>
    </div>
  </div>
{% endblock content %}
    