{% extends "mainapp/main.html" %}
{% load static %}
{% block title %}
    Privacy policy
{% endblock title %}
{% block content %}
<div class="container">
    <div class="content-section">
      <h1 class="mb-4">Privacy Policy</h1>
      <p>We value your privacy and are committed to protecting your personal information. This privacy policy explains how we collect, use, and share information about you when you use our services, including Stripe for payments.</p>
      
      <h2 class="mt-5 mb-3">Information We Collect</h2>
      <p>We may collect the following information from you:</p>
      <ul>
        <li>Personal identification information (Name, email address, phone number, etc.)</li>
        <li>Payment information (handled securely by Stripe)</li>
        <li>Other information relevant to customer surveys and/or offers</li>
      </ul>
      
      <h2 class="mt-5 mb-3">How We Use Your Information</h2>
      <p>We use the information we collect in the following ways:</p>
      <ul>
        <li>To process transactions and manage payments via Stripe</li>
        <li>To improve our products and services</li>
        <li>To send periodic emails and updates</li>
        <li>To personalize user experience</li>
      </ul>
      
      <h2 class="mt-5 mb-3">Using Stripe for Payments</h2>
      <p>We use Stripe to handle payments securely. Stripe collects and processes your payment information in accordance with their privacy policy. We do not store your payment information on our servers.</p>
      <p>For more information on Stripe's privacy practices, please visit <a href="https://stripe.com/privacy" target="_blank">Stripe Privacy Policy</a>.</p>
      
      <h2 class="mt-5 mb-3">Your Consent</h2>
      <p>By using our site, you consent to our website's privacy policy.</p>
      
      <h2 class="mt-5 mb-3">Changes to Our Privacy Policy</h2>
      <p>We may update this privacy policy from time to time. Any changes will be posted on this page with an updated revision date.</p>
      
      <h2 class="mt-5 mb-3">Contact Us</h2>
      <p>If you have any questions about this privacy policy, please contact us at:</p>
      <ul>
        <li>Email: onlineishope@gmail.com </li>
        <li>Phone: +49 3782 2986 836</li>
      </ul>
    </div>
  </div>
{% endblock content%}